<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- plugin.xml file written by dynaTrace Client 3.0.0 -->
<plugin>
  <extension point="com.dynatrace.diagnostics.pdk.pluginconfig" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginGenericSQL" name="OraclePluginGenericSQL">
    <information>
      <category value="" />
      <description value="executes a userspecific sql and enable to monitor it" />
      <supportlevel value="unsupported" />
      <displayname value="OraclePluginGenericSQL" />
    </information>
    <configuration>
      <property key="oracleConType" label="oracleConType" type="list" description="Typ der Oracle Connection (SID oder servicename)" default="SID">
        <list>
          <item value="SID" />
          <item value="servicename" />
          <item value="securitystring" />
          <item value="completestring" />
        </list>
      </property>
      <property key="hostName" label="hostName" type="string" description="Hostname or IP-Adress" default="localhost" multiline="false" />
      <property key="dbName" label="dbName" type="string" description="Insert SID or Servicename of Oracle DB to be monitored" default="XE" multiline="false" />
      <property key="dbPort" label="dbPort" type="string" description="Port to connect to Oracle" default="1521" multiline="false" />
      <property key="dbUsername" label="dbUsername" type="string" description="User to connect to Oracle with permission to read (g)v$-tables" default="system" multiline="false" />
      <property key="dbPassword" label="dbPassword" type="password" description="Password to connect to Oracle" default="" />
      <property key="nodeId" label="nodeId" type="long" description="Node ID of RAC-Cluster (if no RAC choose 1)" default="1" />
      <property key="genericsql" label="genericsql" type="string" description="use &quot;AS METRIC&quot; to specify the value u want" default="select 2 as METRIC from dual" multiline="false" />
      <property key="security" label="security" type="string" description="My property description ..." default="" multiline="false" />
      <property key="completestring" label="completestring" type="string" description="My property description ..." default="" multiline="false" />
    </configuration>
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitor" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginGenericSQL.monitor" name="Oracle Monitor Generic SQL">
    <plugin configid="de.tsystems.mms.tic.apm.dynatrace.OraclePluginGenericSQL" class="com.dynatrace.diagnostics.plugins.OracleMonitor" />
  </extension>
  <extension point="com.dynatrace.diagnostics.pdk.monitormetricgroup" id="de.tsystems.mms.tic.apm.dynatrace.OraclePluginGenericSQL.metricgroup1" name="Oracle Query">
    <metricgroup monitorid="de.tsystems.mms.tic.apm.dynatrace.OraclePluginGenericSQL.monitor">
      <metric defaultrate="purepath" name="genericsql" unit="number" description="specify you sql">
        <property key="genricsql" value="genericsql" optional="false" />
      </metric>
    </metricgroup>
  </extension>
</plugin>
